<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
        Réservations
    </title>
</head>

<body>

    <!-- Header commun -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Contenu spécifique à chaque page -->
    <main>
        <!-- Notifications -->
<div th:if="${successMessage}"
     style="color: green; margin-bottom: 15px;">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}"
     style="color: red; margin-bottom: 15px;">
    <p th:text="${errorMessage}"></p>
</div>
        <div layout:fragment="content">
            Contenu ici
        </div>
    </main>

    <!-- Footer commun -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>