<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<header th:fragment="header">

    <h1>Réservations</h1>

    <nav>

        <a th:href="@{/artists}">Artistes</a>

        |

        <!-- Si l'utilisateur n'est PAS connecté -->
        <span sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Connexion</a>
        </span>

        <!-- Si l'utilisateur est connecté -->
        <span sec:authorize="isAuthenticated()">

            Bonjour,
            <strong sec:authentication="name">utilisateur</strong>

            |

            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit">Déconnexion</button>
            </form>

        </span>

    </nav>

    <hr>

</header>

</body>
</html>