<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Inscription</title>
</head>

<body>

<div layout:fragment="content">

    <h2>Inscription</h2>

    <!-- Message erreur -->
    <div th:if="${errorMessage}"
         style="color:red; margin-bottom:15px;">

        <p th:text="${errorMessage}"></p>

    </div>

    <form th:action="@{/register}"
          th:object="${user}"
          method="post">

        <!-- LOGIN -->
        <div>

            <label>Login :</label>

            <input type="text"
                   th:field="*{login}">

            <div th:if="${#fields.hasErrors('login')}"
                 th:errors="*{login}"
                 style="color:red;">
            </div>

        </div>

        <br>

        <!-- PASSWORD -->
        <div>

            <label>Mot de passe :</label>

            <input type="password"
                   th:field="*{password}">

            <div th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"
                 style="color:red;">
            </div>

        </div>

        <br>

        <!-- FIRSTNAME -->
        <div>

            <label>Prénom :</label>

            <input type="text"
                   th:field="*{firstname}">

            <div th:if="${#fields.hasErrors('firstname')}"
                 th:errors="*{firstname}"
                 style="color:red;">
            </div>

        </div>

        <br>

        <!-- LASTNAME -->
        <div>

            <label>Nom :</label>

            <input type="text"
                   th:field="*{lastname}">

            <div th:if="${#fields.hasErrors('lastname')}"
                 th:errors="*{lastname}"
                 style="color:red;">
            </div>

        </div>

        <br>

        <!-- EMAIL -->
        <div>

            <label>Email :</label>

            <input type="email"
                   th:field="*{email}">

            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"
                 style="color:red;">
            </div>

        </div>

        <br>

        <!-- LANGUE -->
     <!-- LANGUE -->
<div>

    <label>Langue :</label>

    <select th:field="*{langue}">
        <option value="">Choisir une langue</option>
        <option value="fr">Français</option>
        <option value="nl">Néerlandais</option>
        <option value="en">Anglais</option>
    </select>

</div>

        <br>

        <button type="submit">
            S'inscrire
        </button>

    </form>

</div>

</body>
</html>