<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Créer un artiste</title>
</head>

<body>

<div layout:fragment="content">
<h2 th:text="${title}">Créer un artiste</h2>

<form th:action="${artist.id == null} ? @{/artists} : @{/artists/{id}(id=${artist.id})}"
      th:object="${artist}"
      method="post">

    <!-- PRENOM -->
    <div>

        <label>Prénom :</label>

        <input type="text"
               th:field="*{firstname}">

        <!-- erreurs firstname -->
        <div th:if="${#fields.hasErrors('firstname')}"
             th:errors="*{firstname}"
             style="color:red;">
        </div>

    </div>

    <br>

    <!-- NOM -->
    <div>

        <label>Nom :</label>

        <input type="text"
               th:field="*{lastname}">

        <!-- erreurs lastname -->
        <div th:if="${#fields.hasErrors('lastname')}"
             th:errors="*{lastname}"
             style="color:red;">
        </div>

    </div>

    <br>

    <button type="submit">
        Enregistrer
    </button>

</form>

    <br>
    <a th:href="@{/artists}">Retour</a>

</div>

</body>
</html>