<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main}">

<head>
    <title>Liste des artistes</title>
</head>

<body>

<div layout:fragment="content">

    <h2 th:text="${title}">Liste des artistes</h2>

    <!-- Lien vers le formulaire de création : ADMIN seulement -->
    <a th:href="@{/artists/new}" sec:authorize="hasRole('ADMIN')">
        <button type="button">Ajouter un artiste</button>
    </a>

    <table th:unless="${#lists.isEmpty(artists)}" border="1">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th colspan="3">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.firstname}">Firstname</td>

            <td>
                <a th:href="@{/artists/{id}(id=${artist.id})}"
                   th:text="${artist.lastname}">
                    Lastname
                </a>
            </td>

            <td>
                <a th:href="@{/artists/{id}(id=${artist.id})}">View</a>
            </td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/artists/{id}/edit(id=${artist.id})}">Edit</a>
            </td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/artists/{id}/delete(id=${artist.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Si aucun artiste -->
    <p th:if="${#lists.isEmpty(artists)}">
        Aucun artiste trouvé.
    </p>

</div>

</body>
</html>