<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Fiche d'un artiste</title>
</head>

<body>

<div layout:fragment="content">

    <!-- Nom complet -->
    <h2 th:text="${artist.firstname} + ' ' + ${artist.lastname}">
        Nom de l'artiste
    </h2>

    <br>

    <!-- Bouton Modifier -->
    <a th:href="@{/artists/{id}/edit(id=${artist.id})}">
        <button type="button">Modifier</button>
    </a>

    <br><br>

    <!-- Retour -->
    <a th:href="@{/artists}">
        Retour à la liste
    </a>

</div>

</body>
</html>